--- 
title: Artooa Blog
lead:  "Über aktuelle Trends beim mobiles Web und der Enterprise Software Integration. Über Unternehmenslösungen, Prozesse und Technolologien. Und alles was uns interessiert."
---

<div class="row-fluid">
  <div class="span8">
  
<% (@site.sorted_articles).each do |post| %>
	<h3><%= link_to post[:title], post.path %></h3>
	<p><%= get_pretty_date(post) %> - 	
    <%= post[:lead] %></p>

<% end %>
  </div>
  
  <div class="span3">
		
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/artooa_inc" data-widget-id="321970594658783232">Tweets by @artooa_inc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



  </div>  <!-- span -->
</div> <!-- row -->