<br> 
<br> 
<div id="footer" >

  <div class="container">
     
     <div class="row">
       <div class="col-sm-6">
	    <br>
	    <h5> Praxis für Gynäkologie und Kinderwunsch</h5>
	    <p>
		<a href="/de/cv-mb/">Dr. med. Markus Bleichenbacher</a><br>
		MSc Clinical Embryology<br>
		<% if language_code_of(@item) == 'de' %>
		
		FMH Gynäkologie und Geburtshilfe<br>
		Schwerpunkt gynäkologische Endokrinologie und Reproduktionsmedizin<br>
		Schwerpunkt operative Gynäkologie und Geburtshilfe
		<% else %> <!-- english -->
		FMH Gynaecology and Obstetrics <br>
		Gynaecologic Endocrinology and Reproductive Medicine  <br>
		Operative Gynaecology and Obstetrics <br>
		Surgery for Gynaecology and Fertility
		<% end %>  
	   </p>
	
		<p>Spitalgasse 36 · CH-3011 Bern · T +41 (0) 31 310 24 24 · F +41 (0) 31 310 24 22<br/>
			www.drbleichenbacher.ch · info@drbleichenbacher.ch · bleichenbacher@hin.ch
		</p>
	     </div> 
	        
		<div class="col-sm-6">
		<br>
		<br>

			 <p id="language-change">
		
						<% if language_code_of(@item) == 'en' %>
							<a href="/de/">Deutsch</a> | <strong>English</strong> <br><br>
							<strong>Site Map</strong>
							<hr class="footer">
							<div class="row">
							<div class="col-sm-6">
							
							<a href="/en/">Home</a><br>
							<a href="/en/fertility/">Fertility</a><br>
							<a href="/en/practice/">Practice</a><br> 
							<a href="/en/gynaecology/">Gynaecology</a><br> 
							<a href="/en/practice/homeopathy/">Homeopathy</a><br>
							</div>
							<div class="col-sm-6"> 
							<a href="/en/practice/fertility-coaching/">Fertility Coaching</a><br> 
							<a href="/en/news/">News</a><br>
							<a href="/en/imprint/">Imprint</a><br>
							<a href="/en/contact/">Contact</a><br>
							</div>
							</div> <!-- row --> 
							
							
						
						<% elsif language_code_of(@item) == 'de' %>
							<strong>Deutsch</strong> | <a href="/en/">English</a> <br><br>
							<strong>Seitenübersicht</strong>
						
							<div class="row">
							<div class="col-sm-6">
							
							<a href="/de/">Home</a><br>
							<a href="/de/kinderwunsch/">Kinderwunsch</a><br>
							<a href="/de/praxis/">Praxis</a><br> 
							<a href="/de/gynaekologie/">Gynäkologie</a><br> 
							<a href="/de/praxis/homoeopathie/">Homöopathie</a><br>
							</div>
							<div class="col-sm-6"> 
							<a href="/de/praxis/kinderwunsch-coaching/">Kinderwunsch Coaching</a><br> 
							<a href="/de/aktuell/">Aktuell</a><br>
							<a href="/de/impressum/">Impressum</a><br>
							<a href="/de/kontakt/">Kontakt</a><br>
							</div>
							</div> <!-- row -->
						<% else %>
									<!-- WARNING: untranslated -->
							<a href="/de/"></a>
						
						<% end %>     
						
			    </p>

		</div>
		</div>
		</row> <!-- row -->
<br>			
<p> <small>		
	  Copyright &copy; 2012-2013 by Dr. med. Markus Bleichenbacher.  All rights reserved. <br>
	  Last changed <%= Time.now.strftime("%d.%m.%Y") %>.
	  </small></p>
	  <br>				
                
            
     <p><img src="/assets/img/kernhoch.jpg" style="margin-left:-15px"> </p>       		

   </div> <!-- container -->

</div> <!-- footer -->