<html lang="<%= language_code_of(@item) %>">

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Markus Bleichenbacher" />
        <meta name="description" content="Praxis für Gynäkologie und Kinderwunsch, Dr. med. Markus Bleichenbacher, Spitalgasse 36, Bern" />
        <meta name="key-words" content="Praxis, Spitalgasse, Bern, Gynäkologie, Kinderwunsch, Reproduktionsmedizin, Frauenarzt, Markus Bleichenbacher, Linder, Lindenhofspital, Kinderwunschzentrum, IVF, ICSI, IUI" />
        <meta name="Description" content="" />
		<meta name="Keywords" content="" />
        <meta name="revisit-after" content="30 days" />
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


       
        <!--[if lt IE 7]>
                    <style type="text/css">@import url(ipsi-e_default.css);</style>
          <![endif]-->
        <link rel="stylesheet" type="text/css" media="print, embossed"
        href="/assets/css/print.css">
        <!--
/*
 * Emigre web font kit 4ff5848a90d6e
 *
 * These fonts are not shareware.
 * Use of these fonts requires the purchase
 * of a license from Emigre, www.emigre.com
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?SVisSaReAI.html
 *
 * © 2011 Emigre, Inc
 */
-->

<title><%= item[:title]%> | Praxis für Gynäkologie und Kinderwunsch, Dr. Markus Bleichenbacher, Spitalgasse 36, Bern</title>
        

		



        
        <link rel="stylesheet" href="/assets/css/main.css">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">

		<!--
	
		        
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        -->
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->
	    

        <script src="/assets/js/vendor/modernizr-2-6-2-min.js"></script>
        
  </head>
  
  <body>


  <!-- Wrap all page content here -->
  <div id="wrap">
        
	  <%= render '_menu' %>
	  

		
	  <div class="container"" id="contentContainer">
	  	  <p><img src="/assets/img/kernhoch.jpg" style="margin-top: -35px; margin-right:0px; float: right"> </p>
		<p><img src="/assets/img/kernbreit.jpg" style="margin-left: 0px"> </p>
      <%= yield %>
      
      </div> <!-- contentContainer -->
  </div> <!-- wrap-->
            
      <%= render '_footer' %>




        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/asssets/jquery-min.js"><\/script>')</script>
		<script src="/assets/js/bootstrap.js"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    </body>
</html>
