---
title: Home
canonical_identifier: home
changefreq: weekly

---

<div id="header">
    <h1>Praxis für Gynäkologie und Kinderwunsch     </h1>
</div>

	<div id="text">
	<p><img class="img-rounded pull-right" src="/assets/img/6109 (160x106).jpg"  style="float:right;margin: 10px" alt="Dr. Markus Bleichenbacher">
    </p>
    <p>Ein Schwergewicht der Praxis ist die Behandlung des unerfüllten Kinderwunsches (Sterilität, Infertilität) mit allen gängigen Methoden,
    auch Inseminationen (IUI) und In Vitro Fertilisation (IVF). Letztere werden durchgeführt in Zusammenarbeit mit dem <a href="http://www.lindenhofgruppe.ch/de/weitere-angebote/ivf/" target="_blank"> IVF-Labor des Lindenhofspitals</a>.
    </p>

    <p>Aber auch gynäkologische Vorsorgeuntersuchungen und Abklärungen und Behandlungen von Beschwerden und Krankheiten der weiblichen Brust (Senologie) und der weibliche Genitalorgane
    gehören zum Angebot der Praxis. Für Operationen arbeite ich ebenfalls mit dem <a href="http://www.lindenhofspital.ch"> Lindenhofspital </a> zusammen.
    </p>
    </div>
    <div id="text2">
    <p>
    Telefonisch ist die Praxis erreichbar Montag bis Freitag von 08:30 bis 15:00, während der <a href="/de/praxis/"> Praxisferien </a> 09:00 bis 12:00.
    Sie können mich auch gut erreichen, über e-mail <a href="mailto:info@drbleichenbacher.ch">info@drbleichenbacher.ch </a> oder über das <a href="/de/kontakt/"> Kontaktformular</a>.
    </p>
    </div>
    
    <div class="row">
    <div class="col-sm-6" id="text4">
     <img class="img" src="/assets/img/0029.jpg" width="300px">
    
    </div>
    
    <div class="col-sm-6" id="text3">
    <p>Diese Seiten richten sich in erster Linie an die Patientinnen unserer Praxis,
    ich habe ausserdem versucht, einige interessante Informationen zu den Themen Kinderwunsch, Sterilität und deren Abklärung und Behandlung zu geben.
    </p>
    <p>Unter <a href="/de/fachinformationen/">Fachinformationen</a> finden sich Informationen, die in erster Linie für die zuweisenden Ärztinnen und Ärzte, aber auch allen anderen Interessierten, gerichtet sind.
    Die verschlüsselte e-mail-Adresse lautet <a href="mailto:bleichenbacher@hin.ch"> bleichenbacher@hin.ch</a>.
    </p>
    <p>PS: Der Granatapfel oder die Grenadine ist ein altes Symbol für Fruchtbarkeit.
    </p>
</div>
    

    
    </div> <!--row -->
    



 
           <div class="row">
           
            <div class="col-sm-6">
             	<h2>Kinderwunsch</h2>
              <p>In der Schweiz ist zurzeit etwa jedes sechste Paar ungewollt kinderlos, Tendenz steigend.
Doch die moderne Medizin in den letzten Jahren in diesem Bereich Fortschritte gemacht. Wir können heute mit verschiedenen Massnahmen die Wahrscheinlichkeit für eine erfolgreiche Schwangerschaft deutlich verbessern. </p>
<p><a class="btn btn-default" href="/de/kinderwunsch/">Mehr &raquo;</a></p>
              
              
			  <div class="well">
			   <h3><a href="/de/kontakt/">Kontakt</a></h3>
			   <p>
			  +41 31 310 24 24<br>
			  <a href="mailto:info@drbleichenbacher.ch">info@drbleichenbacher.ch</a><br>
			  <a href="http://maps.google.ch/maps?hl=de&sugexp=frgbld&gs_nf=1&cp=19&gs_id=20&xhr=t&q=bern+spitalgasse+36&bav=on.2,or.r_gc.r_pw.r_qf.,cf.osb&biw=1810&bih=950&wrapid=tljp1332387616138036&um=1&ie=UTF-8&ei=IJ9qT7iTNMjR4QT2h43dBQ&sa=X&oi=mode_link&ct=mode&cd=3&sqi=2&ved=0CBIQ_AUoAg" target="_blank">Spitalgasse 36, CH-3011 Bern</a></p>
	
	<p><a class="btn btn-default" href="/de/kontakt/">Mehr &raquo;</a></p>		 
              
              </div>
          
          <h2>Gynäkologie</h2>
          <p>Im Bereich der Gynäkologie (Frauenheilkunde) kann ich Ihnen praktisch das gesamte Spektrum von Abklärungen, Beratungen und Behandlungen, auch operativer Natur, anbieten.
    Eingriffe und Operationen, auch im Rahmen der Sterilitätsabklärung und insbesondere auch laparoskopische und hysteroskopische (minimal invasiv, Schlüsselloch) führe ich am <a href="http://www.lindenhofspital.ch" target="_blank">Lindenhofspital</a> durch.
    In der Praxis bin ich auch speziell eingerichtet, um die weibliche Brust, insbesondere mit Ultraschall, zu untersuchen, und um auffällige Abstriche (Dysplasie, Pap-Abstrich) weiter abzuklären.
    </p>
          <p><a class="btn btn-default" href="/de/gynaekologie/">Mehr &raquo;</a></p>           


                 <h2>Notfälle</h2>
             <p> In dringenden Fällen gibt medphone, Tel 0900 57 67 47 Auskunft über die diensthabenden Notfallärzte
	    <br/> Sanitätsnotrufzentrale Tel 144
	    <br/> Notfallzentrum Lindenhofspital Tel 031 300 88 88
		</p>
		
     
            </div><!--/span-->
            
            <div class="col-sm-6">

    	<h2><a href="/de/aktuell/">Aktuell</a></h2>
	
	<% (@site.sorted_articles[0..4]).each do |post| %>
		<h4><%= link_to post[:title], post.path %></h4>
		<p> 	
	    <%= post[:lead] %> <small>(<%= get_pretty_date(post) %>)</small> </p>
		
	<% end %>
		<p><a class="btn btn-default" href="/de/aktuell/">Mehr &raquo;</a></p>

<h2>Homöopathie</h2>

<p>
Diese Heilmethode nimmt den Menschen als einzigartiges Individuum an.
Als sanfte Medizin ist sie ideal geeignet, um die Kinderwunschbehandlung zu begleiten. Bauch, Gefühlswelt und Kopf werden in Einklang gebracht, Blockaden gelöst und die Selbstheilungskräfte angeregt.  

</p>
              <p><a class="btn btn-default" href="/de/praxis/homoeopathie/">Mehr &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        



